/*

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html {
    font-size: 12px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'TeleNeoThin';
  src: url("../fonts/TeleNeoWeb-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleNeoWeb-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleNeoWeb-Thin.woff2") format("woff2"), url("../fonts/TeleNeoWeb-Thin.woff") format("woff"), url("../fonts/TeleNeoWeb-Thin.svg#svgFontName") format("svg"), url("../fonts/TeleNeoOffice-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TeleNeoRegular';
  src: url("../fonts/TeleNeoWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleNeoWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleNeoWeb-Regular.woff2") format("woff2"), url("../fonts/TeleNeoWeb-Regular.woff") format("woff"), url("../fonts/TeleNeoWeb-Regular.svg#svgFontName") format("svg"), url("../fonts/TeleNeoOffice-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TeleNeoMedium';
  src: url("../fonts/TeleNeoWeb-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleNeoWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleNeoWeb-Medium.woff2") format("woff2"), url("../fonts/TeleNeoWeb-Medium.woff") format("woff"), url("../fonts/TeleNeoWeb-Medium.svg#svgFontName") format("svg"), url("../fonts/TeleNeoOffice-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TeleNeoBold';
  src: url("../fonts/TeleNeoWeb-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleNeoWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleNeoWeb-Bold.woff2") format("woff2"), url("../fonts/TeleNeoWeb-Bold.woff") format("woff"), url("../fonts/TeleNeoWeb-Bold.svg#svgFontName") format("svg"), url("../fonts/TeleNeoOffice-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TeleNeoExtraBold';
  src: url("../fonts/TeleNeoWeb-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TeleNeoWeb-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleNeoWeb-ExtraBold.woff2") format("woff2"), url("../fonts/TeleNeoWeb-ExtraBold.woff") format("woff"), url("../fonts/TeleNeoWeb-ExtraBold.svg#svgFontName") format("svg"), url("../fonts/TeleNeoOffice-ExtraBold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

h1, h2, h3, h4, h5, h6, strong, p, label {
  font-family: 'TeleNeoMedium', Arial, Helvetica, sans-serif;
  color: #F1F1F1;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-family: 'TeleNeoBold', Arial, Helvetica, sans-serif;
}

p {
  font-size: 16px;
}

label {
  font-size: 24px;
}

.headline-section {
  margin: 2rem 0 4rem 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  background: #141414;
  font-size: 12px;
  letter-spacing: 2;
  font-family: 'TeleNeoRegular', Arial, Helvetica, sans-serif !important;
  color: #F1F1F1;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
}

#root {
  width: 100%;
  height: 100%;
  background: #141414;
}

#sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 8rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar-left .btn.burger {
  width: 4rem;
  height: 4rem;
  margin: 2rem 0 0 0;
  /* background-color: #e20074; */
  background-image: url("../images/icons/menu_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#sidebar-left .btn.dash {
  width: 4rem;
  height: 4rem;
  margin: 0 0 2rem 0;
  /* background-color: #e20074; */
  background-image: url("../images/icons/sports_esports_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#sidebar-left .btn.settings {
  width: 4rem;
  height: 4rem;
  margin: 0 0 2rem 0;
  /* background-color: #e20074; */
  background-image: url("../images/icons/settings_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#dash {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 0 0 8rem;
}

#dash .games-quickstart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px;
}

#dash .game-cover-container {
  position: relative;
  width: calc(240px + 24px + 6px);
  height: calc(315px + 24px + 6px);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

#dash .game-cover-container:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
}

#dash .game-cover-border {
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 9px;
  width: calc(240px + 12px);
  height: calc(315px + 12px);
  border-radius: 15px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  border: 3px solid #e20074;
  opacity: 0;
}

#dash .game-cover-container:hover .game-cover-border {
  opacity: 1;
}

#dash .game-cover-image {
  position: absolute;
  z-index: 0;
  top: calc(12px + 3px);
  left: calc(12px + 3px);
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  max-width: 240px;
  max-height: 315px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

#dash .game-cover-container:hover .game-cover-image {
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.75);
}

#dash .wrc8 {
  background-image: url("../images/game-meta-data/wrc-8-cover-portrait.jpg");
}

#dash .wrc9 {
  background-image: url("../images/game-meta-data/wrc-9-cover-portrait.jpg");
}

#dash .control {
  background-image: url("../images/game-meta-data/control-cover-portrait.jpg");
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 0 8rem;
}

.content {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting-section-headline {
  width: 100%;
  max-width: 520px;
  height: auto;
  margin: 6rem 0 2rem;
  padding: 0 1rem;
}

.setting-section-headline h3 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.setting-section-headline:first-child {
  margin-top: 2rem;
}

.setting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 520px;
  height: auto;
  margin: 1rem 0 0 0;
  border-radius: 4px;
  -webkit-box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(#3A3A3A), color-stop(95%, #1C1C1C));
  background: linear-gradient(180deg, #3A3A3A 0%, #1C1C1C 95%);
}

.setting-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  width: 100%;
  margin: 1px;
  padding: 3rem 3rem 3rem 3rem;
  background: #262626;
}

.setting-container .info-container {
  width: calc(100% - 56px);
  height: auto;
}

.setting-container .info-container label {
  display: inline-block;
  padding-bottom: 12px;
}

.setting-container .info-container p {
  color: #A3A3A3;
}

.setting-container .full-container {
  width: 100%;
  height: auto;
}

.setting-container .full-container label {
  display: inline-block;
  padding-bottom: 12px;
}

.setting-container .full-container p {
  color: #A3A3A3;
}

.setting-container .toggle-container {
  width: 56px;
  height: auto;
  margin-right: 1rem;
}

/* Toggle Button */
.toggle {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* To create surface of toggle button */
.toggle:after {
  content: '';
  width: 56px;
  height: 18px;
  margin-top: 0px;
  display: inline-block;
  background: #6C6C6C;
  border-radius: 9px;
  clear: both;
  -webkit-transition: background 150ms;
  transition: background 150ms;
}

/* Contents before checkbox to create toggle handle */
.toggle:before {
  content: '';
  width: 36px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  border-radius: 12px;
  background: #D0D0D0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 150ms, background 150ms;
  transition: left 150ms, background 150ms;
}

/* Shift the handle to left on check event */
.toggle:checked:before {
  left: 20px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  background: #e20074;
}

/* Background color when toggle button will be active */
.toggle:checked:after {
  background: #94004C;
}

.dropdown {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto !important;
  padding: 1rem;
  margin: 2rem 0 0 0;
  font-size: 16px !important;
  background-color: #000;
  color: #F1F1F1 !important;
  border: 1px solid #A4A4A4;
  background: #333 url("/assets/images/icons/arrow-down-outline.svg") 96% no-repeat;
  background-size: 5%;
  appearance: none;
  border-radius: 6px;
  line-height: 16px !important;
  appearance: none;
  /* this is must */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown option {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: #333;
  pointer-events: none;
  color: #F1F1F1 !important;
  font-size: 16px !important;
  padding: 0 4px;
}

/* for IE and Edge */
select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

.text {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto !important;
  padding: 1rem;
  margin: 2rem 0 0 0;
  font-size: 16px !important;
  background-color: #000;
  color: #F1F1F1 !important;
  border: 1px solid #A4A4A4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 6px;
  line-height: 16px !important;
  -webkit-animation: border-color 3000ms ease-in-out;
          animation: border-color 3000ms ease-in-out;
}

.text:focus {
  outline: none;
  border: 1px solid #e20074;
}

.button {
  width: auto;
  height: auto;
  padding: 1rem;
  margin: 2rem 0 0 0;
  font-size: 16px;
  background-color: #e20074;
  color: #F1F1F1;
  border: none;
  border-radius: 6px;
  font-family: 'TeleNeoBold' !important;
}

input[type=range] {
  height: 22px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #6C6C6C;
  border-radius: 2px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #E20074;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6C6C6C;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #6C6C6C;
  border-radius: 2px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  border: 0px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #E20074;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #6C6C6C;
  border-radius: 4px;
}

input[type=range]::-ms-fill-upper {
  background: #6C6C6C;
  border-radius: 4px;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #E20074;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #6C6C6C;
}

input[type=range]:focus::-ms-fill-upper {
  background: #6C6C6C;
}
/*# sourceMappingURL=style.css.map */